<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EcoSort</title>
    <!-- Link to your CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>EcoSort</h1>
    </header>
    <main>
        <!-- Your content here -->
        <form action="{{ url_for('predict')}}" method="post" enctype="multipart/form-data">
            <input type="file" name="file" accept=".jpg, .jpeg, .png" required="required" />
            <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
        </form>
        <div class="result">
            {{ prediction_text }}
        </div>
    </main>
    <footer>
        <p>&copy; 2024 EcoSort</p>
    </footer>
</body>
</html>
